absl-py==0.7.1
astor==0.7.1
biopython==1.73
cycler==0.10.0
dj-database-url==0.5.0
Django==2.2.1
gast==0.2.2
google-pasta==0.1.4
grpcio==1.19.0
gunicorn==19.9.0
h5py==2.9.0
Keras-Applications==1.0.7
Keras-Preprocessing==1.0.9
kiwisolver==1.0.1
Markdown==3.1
matplotlib==3.0.3
mpmath==1.1.0
numpy==1.16.2
protobuf==3.7.1
psycopg2-binary==2.8.3
pyparsing==2.4.0
python-dateutil==2.8.0
pytz==2019.1
six==1.12.0
sqlparse==0.3.0
sympy==1.4
tb-nightly==1.14.0a20190301
tensorflow==2.0.0a0
termcolor==1.1.0
tf-estimator-nightly==1.14.0.dev2019030115
Werkzeug==0.15.2
whitenoise==4.1.2
